.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}

.y_axis {
  position: inherit;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: white;
}

.x_axis {
  position: inherit;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 1px;
  width: 100vw;
  background-color: white;
}